@import 'base';

@import 'bourbon';
@import "neat";
@import 'bootstrap-custom';

@import 'components/tabs';
@import 'components/buttons';
@import 'components/footer';
@import 'components/header';
@import 'components/sliders';
@import 'components/panels';
@import 'components/images';
@import 'components/loader';
@import 'components/table';

@import 'pages/wizard';
@import 'pages/login';
@import 'pages/account';
@import 'pages/help';
@import 'pages/error';
@import 'pages/home';
@import 'pages/traders';

.site-content {
  flex: 1;
}

span.accent {
  color: $vnd-orange;
}

span.glyphicon {
  color: black;
}
