/*
  VNDIRECT colors:

  orange: rgb(243, 145, 0);
  dark gray: rgb(88, 89, 91);
  medium gray: rgb(124, 124, 124);
  light gray: rgb(121, 121, 121);
  milky: rgb(254, 247, 190);
*/

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
}

html {
  background-color: #F2F2F2;
  overflow-y: scroll;   /* Fix "jumping scrollbar" */
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  /*color: rgb(88, 89, 91);*/
}

header, footer {
  width: 100%;
}

@media (min-width: 1200px) {
    .container{
        max-width: 940px;
    }
}

.ui-label {
  font-variant: small-caps;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

::selection {
  background: rgb(254, 247, 190);
}

::-moz-selection {
  background: rgb(254, 247, 190);
}

.panel-title {
  font-size: 20px;
}


/* Sticky bottom footer */
.top-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/*.container {
  width: 1120px;
}*/

.ui-label-strong {
  font-size: 1.2em;
  font-weight: bold;
}

.trader-list > .trader:nth-child(odd) {
  background: #EFEFEF;
}

.trader-line {
  padding: 1rem;
  border: 1px solid transparent;
  border-color: #DDD;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 4px;
}

.trader-line .row-info {
  display: flex;
  /*border-bottom: 1px solid #DDD;*/
  /*padding-bottom: 1rem;*/
  margin-bottom: 1rem;
}

.trader-line .row-info .avatar {
  margin-right: 1em;
}

.trader-line .row-info .avatar > img {
  width: 100px;
}

.trader-line .row-action {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -1rem;
  padding: 1rem;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: 0.2s;
}

.trader-line .row-action.checked {
  background-color: #25c400;
  color: white;
}

.slider-decorator-2 {
  display: none;
}

.block {
  float: left;
  margin-right: 20px;
}

.text-label {
  font-size: 10px;
  color: #777;
  text-transform: uppercase;
}

.form-login {
  margin: 165px auto;
  max-width: 400px;
}

.form-login .form-control {
  font-size: 16px;
  height: auto;
  margin-bottom: 1em;
}

.navbar {
  background-color: #f6f6f6;
  border-radius: 0px;
  border: none;
  margin-bottom: 40px;
  /*box-shadow: 0px 3px 9px -8px rgba(0,0,0,0.75);*/
}

/*.navbar .navbar-text,
.navbar .navbar-brand {
  color: white;
}*/

header .navbar-brand {
  font-size: 28px;
  font-weight: bold;
}

/*.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: white;
}
*/

.navbar-right .navbar-btn {
  margin-left: 10px;
}

.navbar-nav a {
  font-weight: bold;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: none;
  color: rgb(243, 145, 0);
}

header .navbar {
  border-bottom: 3px rgb(243, 145, 0) solid;
}

header li.active > a {
  background-color: rgb(243, 145, 0) !important;
  color: white !important;
}

.btn {
  box-shadow: 0px 3px 11px -8px rgba(0,0,0,0.75);
  border: none;
}

.btn-primary {
  background-color: rgb(243, 145, 0);
  color: white;
  font-weight: bold;
}

footer {
  background: #5E5E5E;
  color: #D7D7D7;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 40px;
}

span.accent {
  color: rgb(243, 145, 0);
}

.wizard {
  /*font-size: 18px;*/
}

.wizard .step {
  margin-bottom: 20px;
}

.wizard .step h3 {
  margin-bottom: 20px;
}

.button-row button {
  float: right;
  margin-left: 10px;
}

body .noUi-connect {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,37b700+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, rgb(243, 145, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,rgb(243, 145, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%,rgb(243, 145, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%,rgb(243, 145, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%,rgb(243, 145, 0) 100%); /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%,rgb(243, 145, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='rgb(243, 145, 0)',GradientType=1 ); /* IE6-9 */
}

.highlight-label {
  color: white;
  background-color: rgb(243, 145, 0);
  padding: 5px 10px;
  font-weight: bold;
  display: inline-block;
}

.panel-overview .info-pane {
  background: #f6f6f6;
  padding: 0.5em;
  margin-bottom: 1em;
}

.panel-overview .info-pane > * {
  display: inline-block;
}

.panel-overview .info-pane > img {
  vertical-align: top;
  margin-right: 0.5em;
}

.panel-overview .info-pane .second-line > div {
  display: inline-block;
  margin-right: 3em;
}

.panel-overview .info-pane > img {
  height: 5em;
}

span.glyphicon {
    color: black;
}

table.table thead {
  background-color: #f6f6f6;
}

table.table th {
  padding: 1em;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background: none;
}

.table-striped>tbody>tr:nth-child(even) {
  background-color: #f6f6f6;
}

.panel-tabbed {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: 0px;
}

ul.nav-tabs > li.active > a {
  color: rgb(243, 145, 0);
  /*border-top: 3px solid rgb(243, 145, 0);*/
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

ul.nav-tabs > li.active {
  position: relative;
}

ul.nav-tabs > li.active::before {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgb(243, 145, 0);
  width: 100%;
  height: 3px;
  content: " ";
  z-index: 1;
}

ul.nav-tabs > li > a {
  color: #666;
  background-color: #f6f6f6;
  border: 1px solid #DDD;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-right: 0px;
}

ul.nav-tabs > li {
  margin-right: 1em;
}

.slider-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #DDD;
  border-radius: 3px;
  top: -2.5em;
  padding: 5px;
  left: -9px;
  text-align: center;
  background-color: white;
  /*width: 50px;*/
}

.slider-tooltip strong {
  display: block;
  padding: 2px;
}


.panel-vndirect {
  border-color: rgb(243, 145, 0);
}

.panel-vndirect .panel-heading {
  background-color: rgb(243, 145, 0);
}

.panel-vndirect .panel-title {
  color: white;
}


/* HELP PAGE */
.container-help dt {
    margin-top: 1em;
    margin-bottom: 0.2em;
}

.container-help .side-image {
  max-width: 200px;
}


/* ERROR PAGE */
.container-error {
  display: flex;
  justify-content: center;
  /*font-size: 24px;*/
}

.container-error h1 {
  font-size: 96px;
}

.container-error .text {
  border-left: 2px rgb(243, 145, 0) solid;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.container-error .bubble {
  margin-left: -250px;
  margin-bottom: -20px;
  display: inline-block;
  position: relative;
}

.container-error .bubble img {
  width: 400px;
}

.container-error .bubble span {
  font-size: 96px;
  font-weight: bold;
  position: absolute;
  left: 60px;
  top: 80px;
}


/* LOGIN PAGE */
.container-login .panel {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.container-login input {
  margin-bottom: 0.5em;
}

.container-login .bottom-row {
  display: flex;
}

.container-login .bottom-row > form {
  width: 50%;
}

.container-login .bottom-row > form:first-child {
  border-right: 1px #DDD solid;
  padding-right: 15px;
}

.container-login .bottom-row > form:nth-child(2) {
  padding-left: 15px;
}

.container-login .real-login-box, .demo-login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-login .demo-login-box input {
  background-color: #25c400;
}


/* ACCOUNT PAGE */
.container-account canvas {
  width: 100%;
}

.panel-deals, .panel-overview {
  min-height: 50vh;
}


/* HOME PAGE */
.container-home {
  font-size: 24px;
}

.container-home h2 {
  text-transform: uppercase;
}

.container-home .hero {
  background-color: rgb(250, 227, 192);
  margin-top: -40px;
}

.container-home .hero > .container {
  position: relative;
  height: 100vh;
}

.container-home .hero .text {
  position: absolute;
  left: 0;
  top: 120px;
  width: 500px;
}

.container-home .hero img {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -284px;
}

.shoutout {
  font-size: 56px;
}

.shoutout strong {
  font-family: "Open Sans Condensed";
}

.light {
  font-weight: lighter;
}

.container-home .features {
  background-color: rgb(248, 236, 219);
  margin-bottom: -40px;
  padding-bottom: 150px;
  position: relative;
}

.with-the-best {
  position: relative;
  padding-top: 50px;
}

.with-the-best .text {
  position: absolute;
  right: 20px;
  top: 200px;
  width: 500px;
}


.save-time {
  height: 500px;
}

.save-time .container {
  position: relative;
}

.save-time .text {
  width: 500px;
  margin-top: 100px;
}

.save-time img {
  position: absolute;
  right: -100px;
  top: 0;
}

.transparency {
  position: relative;
}

.transparency .text {
  position: absolute;
  left: 800px;
  bottom: 0;
  width: 400px;
}

.transparency img {
  margin-left: 100px;
}


/*
Checkbox style
Taken from here: http://codepen.io/bbodine1/pen/novBm;
*/

.squaredTwo {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredTwo label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 4px;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredTwo label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredTwo label:hover::after {
  opacity: 0.3;
}
.squaredTwo input[type=checkbox] {
  visibility: hidden;
}
.squaredTwo input[type=checkbox]:checked + label:after {
  opacity: 1;
}
