flask
flask_login
flask_failsafe
flask-menu
requests

# Session persistence
redis
flask-kvsession

# Normal storage
sqlalchemy
#psycopg2
pg8000

# Messaging support (rabbitmq)
kombu

# Testing
pytest

# For the snake_case to camelCase conversion
inflection
