flask
flask_login
flask_failsafe
flask-menu
requests
flask-debugtoolbar

# For RabbitMQ listening
kombu

# Session persistence
redis
flask-kvsession

# Normal storage
sqlalchemy
psycopg2
#pg8000

pytest
pytest-xdist
pytest-mock

# simplejson has builtin support for serializing Decimal.
# Flask's jsonify will automatically pick it up instead of stdlib's json.
simplejson
