flask
flask_login
flask_failsafe
flask-menu
requests
Flask-Cache

# Session persistence
redis
flask-kvsession

# Normal storage
sqlalchemy
#psycopg2
pg8000

pytest
pytest-xdist

# simplejson has builtin support for serializing Decimal.
# Flask's jsonify will automatically pick it up instead of stdlib's json.
simplejson
