{% extends "base.jinja.html" %}

{% block content %}
<div id="app" class="container account-container"></div>
{% endblock %}

{% block extra_headers %}
<link rel="stylesheet" type="text/css" href="/static/bower_components/nouislider/distribute/jquery.nouislider.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/bower_components/nouislider/distribute/jquery.nouislider.pips.min.css"/>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="/static/bower_components/react/react.js"></script>
<script type="text/javascript" src="/static/bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="/static/bower_components/backbone/backbone.js"></script>
<script type="text/javascript" src="/static/bower_components/nouislider/distribute/nouislider.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/sockjs/1.0.0/sockjs.min.js"></script>
<script type="text/javascript" src="/static/bower_components/chartjs/Chart.min.js"></script>
<script type="text/javascript" src="/static/bower_components/requirejs/require.js"></script>

<script type="text/javascript">
	requirejs.config({
	    baseUrl: '/static/scripts/',
	});

	requirejs(['/static/scripts/accountapp.js']);

	var sock = new SockJS('/realtime');
	sock.onopen = function() {
	    console.log('open');
		sock.send('test');
	};
	sock.onmessage = function(e) {
	    console.log('message', e.data);
	};
	sock.onclose = function() {
	    console.log('close');
	};

	// sock.close();
</script>
{% endblock %}
