{% extends "base.jinja.html" %}

{% block content %}

<div class="container">
<strong>Autotrade - Các câu hỏi thường gặp</strong>
<ul>
	<div>
		1. Autotrade là gì?
		<p>Autotrade là một dịch vụ tự động sao chép giao dịch chứng khoán của các Chiến lược gia vào tài khoản của người sử dụng.</p>	
	</div> 
	<div>
		2. Autotrade có những tính năng gì đặc biệt? 
			<ul>
				<li>Tự động đặt lệnh khi có tín hiệu giao dịch từ các Chiến lược gia.</li>
				<li>Theo dõi thông tin tài khoản cá nhân rõ ràng, minh bạch.</li>
				<li>Theo dõi thông tin giao dịch của các Chiến lược gia lãi nhất thị trường.</li>
			</ul>
	</div>
	<div>
		3. Autotrade sử dụng như thế nào? 
	</div>
	<div>
		4. Tôi chưa có nhiều hiểu biết về giao dịch chứng khoán thì có thể sử dụng dịch vụ Autotrade không?
		<p>Có. Quý khách hàng sử dụng dịch vụ Autotrade không cần có nhiều kinh nghiệm và kiến thức về thị trường chứng khoán Việt Nam. Dịch vụ Autotrade sẽ tự động giúp quý khách tối ưu hóa lợi nhuận.</p>
	</div>
	<div>
		5. Tôi muốn đăng ký sử dụng dịch vụ Autotrade thì cần phải làm gì? 
		<p>Quý khách cần có tài khoản giao dịch chứng khoán tại VNDIRECT và đã đăng ký sử dụng dịch vụ Autotrade. Nếu chưa có tài khoản VNDIRECT, quý khách có thể đăng ký tại <a href="https://www.vndirect.com.vn/portal/mo-tai-khoan-nha-dau-tu.shtml">đây</a></p>
	</div>
	<div>
		6. Tôi có cần trả các khoản phí nào để sử dụng dịch vụ Autotrade không?
		<p>Ngoài các mức phí quy định tương tự như giao dịch trực tuyến trên website VNDIRECT, quý khách không cần trả thêm phí nào khác để sử dụng dịch vụ Autotrade.</p>
	</div>
	<div>
		7. Tôi cần làm gì để trở thành một Chiến lược gia? 
	</div>
	<div>
		8. Khi trở thành một Chiến lược gia thì tôi được lợi ích gì? 
	</div>
	<div>
		9. Sử dụng dịch vụ Autotrade thì có khác biệt với các dịch vụ giao dịch chứng khoán khác tại VNDIRECT?
		<p>Khi sử dụng dịch vụ Autotrade, hệ thống sẽ tự động sao chép giao dịch chứng khoán từ các Chiến lược gia vào tài khoản của quý khách.</p>
		<p>Autotrade hiện tại chưa cho phép quý khách chủ động đặt lệnh giao dịch chứng khoán và chưa hỗ trợ thực hiện các giao dịch về tiền, sao kê chứng khoán, sao kê tiền mặt... Trong tương lai, VNDIRECT sẽ phát triển thêm các tính năng này để hỗ trợ quý khách hàng sử dụng Autotrade.</p>
	</div>
	<div>
		10. Tôi muốn xem lãi/lỗ hiện tại của tài khoản ở đâu?
	</div>
	<div>
		11. Tôi có thể xem lịch sử chi tiết các giao dịch mà hệ thống đã tự động đặt trên tài khoản của tôi ở đâu? 
	</div>
	<div>
		12. Điều gì xảy ra khi tôi bắt đầu theo dõi một chiến lược gia?
	</div>
	<div>
		13. Điều gì xảy ra khi tôi bỏ theo dõi một chiến lược gia?
	</div>
	<div>
		14. Thanh rủi ro dùng để làm gì?
	</div>
</ul>
</div>

{% endblock %}
