{% extends "base.jinja.html" %}
{% from "flash.jinja.html" import flash %}

{% block content %}
<div class="container-login">
  <style scoped>
    form {
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
    }

    input {
      margin-bottom: 0.5em;
    }

    .bottom-row {
      display: flex;
    }

    .bottom-row > div {
      width: 50%;
    }

    .bottom-row > div:first-child {
      border-right: 1px #DDD solid;
      padding-right: 15px;
    }

    .bottom-row > div:nth-child(2) {
      padding-left: 15px;
    }

    .real-login-box, .demo-login-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .demo-login-box input {
      background-color: #25c400;
    }

  </style>

  <form method="post">
    <div class="panel panel-vndirect">
      <div class="panel-heading">
        <h3 class="panel-title">Đăng nhập</h3>
      </div>

      <div class="panel-body">
        <p>
          Quý khách vui lòng đăng nhập bằng tài khoản <strong>VNDIRECT</strong> để sử dụng dịch vụ này.
          Nếu chưa có tài khoản VNDIRECT, quý khách có thể đăng ký tài khoản mới
          <a href="https://www.vndirect.com.vn/portal/mo-tai-khoan-nha-dau-tu.shtml">tại đây</a>.
        </p>

        {{ flash() }}

        <div class="bottom-row">
          <div class="real-login-box">
            <div>
              <div class="form-group">
                <!-- <label for="username">Tên người dùng</label> -->
                <input name="username" type="text" class="form-control" placeholder="Tên người dùng">
              </div>

              <div class="form-group">
                <!-- <label for="password">Mật khẩu</label> -->
                <input name="password" type="password" class="form-control" placeholder="Mật khẩu">
              </div>
            </div>

            <input id="btn-submit" type="submit" class="btn btn-primary" value="Đăng nhập">
          </div>

          <div class="demo-login-box">
            <p>
              Quý khách cũng có thể lựa chọn <strong>Tài khoản dùng thử</strong> để trải nghiệm dịch vụ <strong><span class="accent">Autotrade</span></strong>. Với tài khoản này, quý khách được sử dụng toàn bộ tính năng như tài khoản thật.
            </p>
            <input id="btn-submit" type="submit" class="btn btn-primary" value="Đăng nhập bằng tài khoản dùng thử">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
