{% extends "base.jinja.html" %}


{% block content %}
<div id="app" class="container container-wizard"></div>
{% endblock %}

{% block extra_headers %}
{% endblock %}


{% block extra_scripts %}
{% if config.DEBUG %}
<script src="/static/jspm_packages/system.js"></script>
<script src="/static/config.js"></script>

<script>
  System.import("scripts/wizardapp");
</script>
{% else %}
{% assets output="dist/wizard.bundle.js", "dist/wizard.bundle.js" %}
  <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}
{% endblock %}
