.account-screen {
  height: 100%;

  .loader {
    height: 100%;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
  }

  canvas {
    width: 100%;
  }

  .info-box {
    $block-padding: 1em;

    .panel-body {
      display: flex;

      > * {
        margin-right: $block-padding;
      }
    }

    .avatar {
      @include image-frame;
      $side: 120px;
      width: $side;
      height: $side;
    }

    .accountStats {
      flex-grow: 1;
      border-left: 1px #DDD solid;
      padding-left: $block-padding;
    }

    .personal-info {
      .name {
        font-size: 1.5em;
      }

      .username {
        @include ui-label;
      }
    }
  }

  .panel-overview .info-pane {
    background: #f6f6f6;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  .panel-overview .info-pane > * {
    display: inline-block;
  }

  .panel-overview .info-pane > img {
    vertical-align: top;
    margin-right: 0.5em;
  }

  .panel-overview .info-pane .second-line > div {
    display: inline-block;
    margin-right: 3em;
  }

  .panel-overview .info-pane > img {
    height: 5em;
  }

  .panel-deals, .panel-overview {
    min-height: 50vh;
  }

  .panel-overview .panel-body {
    display: flex;
  }

  .panel-overview .graph {
    flex-grow: 1;
  }

  .panel-overview .trader-listing {
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px #AAA dashed;

    .tabs {
      margin-bottom: 1em;
    }
  }

  .trader-tab {
    display: flex;
    cursor: pointer;
    background-color: $gray-lighter;
    border-bottom: 1px #AAA dashed;
    padding: 1em;

    &.active,
    &:hover {
      background-color: white;
    }
  }

  .trader-tab .avatar {
    @include image-frame;
    $size: 80px;
    width: $size;
    height: $size;
    margin-right: 1em;
  }
}

.portfolio {
  .rel-strip {
    border: 1px #DDD solid;
    border-radius: 4px;
    display: flex;
    margin-bottom: 1em;
  }

  .rel-strip .rel-overview {
    padding: 1em;
    background-color: #F5F5F5;
    border-right: #DDD 1px solid;
    text-align: center;
    width: 10em;
  }

  .rel-strip .rel-overview .name {
    font-weight: bold;
  }

  .rel-strip .rel-overview td {
    padding: 0.5em;
  }

  .rel-strip .active-deals,
  .rel-strip .old-deals {
    display: flex;
    flex-direction: column;
  }

  .rel-strip .active-deals {
    flex-grow: 1;
    overflow: hidden;
  }

  .rel-strip .old-deals {
    border-left: 1px #DDD dashed;
  }

  .rel-strip .old-deals .cards {
    background-color: #EEE;
  }

  .rel-strip .cards {
    display: flex;
    flex-grow: 1;
    padding: 1em;
  }

  .rel-strip .section-label {
    padding: 0.5em;
    border-top: 1px #DDD solid;
    text-align: center;
  }

  .rel-strip .deal-card {
    $green: #006f2e;

    border: 1px #DDD solid;
    color: $green;
    margin-right: 1em;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex-direction: column;
    min-width: 5em;
    background-color: white;

    &.unprofitable {
      $red: #ff3636;

      border: 2px $red solid;
      color: $red;

      .symbol {
        background-color: $red;
      }
    }

    .ui-label {
      color: black;
      text-transform: uppercase;
      font-size: 0.6em;
    }

    .symbol {
      font-weight: bold;
      background-color: $green;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .value {
      border-bottom: 1px solid #DDD;
      color: black;
    }

    .value, .profit {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }


  .btn-add-trader {
    margin-top: 1em;
  }
}
