.container-error {
  display: flex;
  justify-content: center;

  h1 {
    font-size: 96px;
  }

  .text {
    border-left: 2px $vnd-orange solid;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .bubble {
    margin-left: -250px;
    margin-bottom: -20px;
    display: inline-block;
    position: relative;
  }

  .bubble img {
    width: 400px;
  }

  .bubble span {
    font-size: 96px;
    font-weight: bold;
    position: absolute;
    left: 60px;
    top: 80px;
  }
}
