/*

  VNDIRECT orange: #FF9900;
  VNDIRECT gray: #F2F2F2;

*/

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
}

html {
  background-color: #F2F2F2;
  overflow-y: scroll;   /* Fix "jumping scrollbar" */
}

body {
  margin: 0 auto;
  font-size: 16px;
  color: #535551;
}

header, footer {
  width: 100%;
}

::selection {
  background: #FF9900;
}

::-moz-selection {
  background: #FF9900;
}


/* Sticky bottom footer */
.top-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.container {
  width: 1120px;
}

.ui-label-strong {
  font-size: 1.2em;
  font-weight: bold;
}

.trader-list > .trader:nth-child(odd) {
  background: #EFEFEF;
}

.traderLine {
  padding: 10px;
  border: 1px solid black;
}

.traderLine .basic-info {
  width: 250px;
}

.block {
  float: left;
  margin-right: 20px;
}

.text-label {
  font-size: 10px;
  color: #777;
  text-transform: uppercase;
}

.form-login {
  margin: 165px auto;
  max-width: 400px;
}

.form-login .form-control {
  font-size: 16px;
  height: auto;
  margin-bottom: 1em;
}

.navbar {
  background-color: #5E5E5E;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 3px 11px -8px rgba(0,0,0,0.75);
}

.navbar .navbar-text,
.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-brand {
  font-size: 40px;
  font-weight: bold;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: white;
}

.navbar-right .navbar-btn {
  margin-left: 10px;
}

.navbar-nav a {
  font-weight: bold;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: none;
  color: #FF9900;
}

.btn {
  box-shadow: 0px 3px 11px -8px rgba(0,0,0,0.75);
  border: none;
}

.btn-primary {
  background-color: #FF9900;
  color: #333;
  font-weight: bold;
}

.home-container {
}

.hero {
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: -20px;
  margin-bottom: 20px;

  padding-left: 59px;
  padding-right: 59px;

  background-image: url("../img/adwaita-lock.jpg");
  background-size: cover;
  color: white;

  box-shadow: 0px 3px 11px -8px rgba(0,0,0,0.75);

}

.hero p {
  font-size: 24px;
}

.hero h1 {
  font-size: 48px;
}

.hero p, .hero h1 {
  text-shadow: 1px 1px 3px #333;
}

.hero img {
  margin-left: -27px;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 60px;
  margin-top: 30px;
}

.features h3 {
  font-size: 18px;;
}

.features h3::before {
  content: url("../img/bullet-point.png");
  margin-left: -20px;
  margin-right: 9px;
}

footer {
  background: #5E5E5E;
  color: #D7D7D7;
  padding-top: 30px;
  padding-bottom: 30px;
}

span.accent {
  color: #FF9900;
}

.wizard {
  font-size: 18px;
}

.wizard .step {
  margin-bottom: 20px;
}

.wizard .step h3 {
  margin-bottom: 20px;
}

.button-row button {
  float: right;
  margin-left: 10px;
}


.trader-thumb-slider img {
    margin: 10px auto;
    transition: 300ms ease 0s;
}

.trader-thumb-slider .slick-slide {
    transition: 300ms ease 0s;
}

.trader-thumb-slider .slick-center {
    background-color: #FF9900;
}

.trader-thumb-slider .slick-center img {
    transform: scale(1.08);
}

.noUi-connect {
  background-color: #FF9900;
}

.highlight-label {
  color: white;
  background-color: #FF9900;
  padding: 5px 10px;
  font-weight: bold;
  display: inline-block;
}

.step img {
  width: 120px;
  height: auto;
}

.panel-overview .info-pane {
  background: #f6f6f6;
  padding: 0.5em;
  margin-bottom: 1em;
}

.panel-overview .info-pane > * {
  display: inline-block;
}

.panel-overview .info-pane > img {
  vertical-align: top;
  margin-right: 0.5em;
}

.panel-overview .info-pane .second-line > div {
  display: inline-block;
  margin-right: 3em;
}

.panel-overview .info-pane > img {
  height: 5em;
}

span.glyphicon {
    color: black;
}

table.table thead {
  background-color: #f6f6f6;
}

table.table th {
  padding: 1em;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background: none;
}

.table-striped>tbody>tr:nth-child(even) {
  background-color: #f6f6f6;
}

.panel-tabbed {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: 0px;
}

ul.nav-tabs > li.active > a {
  color: #FF9900;
  /*border-top: 3px solid #FF9900;*/
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

ul.nav-tabs > li.active {
  position: relative;
}

ul.nav-tabs > li.active::before {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #FF9900;
  width: 100%;
  height: 3px;
  content: " ";
  z-index: 1;
}

ul.nav-tabs > li > a {
  color: #666;
  background-color: #f6f6f6;
  border: 1px solid #DDD;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-right: 0px;
}

ul.nav-tabs > li {
  margin-right: 1em;
}
