/*
  VNDIRECT colors:

  orange: rgb(243, 145, 0);
  dark gray: rgb(88, 89, 91);
  medium gray: rgb(124, 124, 124);
  light gray: rgb(121, 121, 121);
  milky: rgb(254, 247, 190);
*/

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
}

html {
  background-color: #F2F2F2;
  overflow-y: scroll;   /* Fix "jumping scrollbar" */
}

body {
  margin: 0 auto;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 16px;
  color: rgb(88, 89, 91);
}

header, footer {
  width: 100%;
}

.ui-label {
  font-variant: all-small-caps;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

::selection {
  background: rgb(254, 247, 190);
}

::-moz-selection {
  background: rgb(254, 247, 190);
}


/* Sticky bottom footer */
.top-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/*.container {
  width: 1120px;
}*/

.ui-label-strong {
  font-size: 1.2em;
  font-weight: bold;
}

.trader-list > .trader:nth-child(odd) {
  background: #EFEFEF;
}

.trader-line {
  padding: 1rem;
  border: 1px solid transparent;
  border-color: #DDD;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 4px;

  display: flex !important;
}

.trader-line .basic-info {
  width: 250px;
}

.block {
  float: left;
  margin-right: 20px;
}

.text-label {
  font-size: 10px;
  color: #777;
  text-transform: uppercase;
}

.form-login {
  margin: 165px auto;
  max-width: 400px;
}

.form-login .form-control {
  font-size: 16px;
  height: auto;
  margin-bottom: 1em;
}

.navbar {
  background-color: #f6f6f6;
  border-radius: 0px;
  border: none;
  /*box-shadow: 0px 3px 9px -8px rgba(0,0,0,0.75);*/
}

/*.navbar .navbar-text,
.navbar .navbar-brand {
  color: white;
}*/

header .navbar-brand {
  font-size: 28px;
  font-weight: bold;
}

/*.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: white;
}
*/

.navbar-right .navbar-btn {
  margin-left: 10px;
}

.navbar-nav a {
  font-weight: bold;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: none;
  color: rgb(243, 145, 0);
}

header .navbar {
  border-bottom: 3px rgb(243, 145, 0) solid;
}

header li.active > a {
  background-color: rgb(243, 145, 0) !important;
  color: white !important;
}

.btn {
  box-shadow: 0px 3px 11px -8px rgba(0,0,0,0.75);
  border: none;
}

.btn-primary {
  background-color: rgb(243, 145, 0);
  color: white;
  font-weight: bold;
}

.home-container {
}

.hero {
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: -20px;
  margin-bottom: 20px;

  padding-left: 59px;
  padding-right: 59px;

  /*background-image: url("../img/adwaita-lock.jpg");*/
  background-image: url("../img/triangles_2-wallpaper-1920x1080.jpg");
  background-size: cover;

  box-shadow: 0px 3px 11px -8px rgba(0,0,0,0.75);
  color: white;
}

.hero p {
  font-size: 24px;
}

.hero h1 {
  font-size: 48px;
}

.hero p, .hero h1 {
  text-shadow: 1px 1px 3px #333;
}

.hero img {
  margin-left: -27px;
  margin-bottom: 25px;
}

.hero .btn-primary {
  color: white;
  background-color: rgb(88, 89, 91);
}

.hero .btn-primary:hover,
.hero .btn-primary:active {
  color: rgb(88, 89, 91);
  background-color: white;
}

.features {
  margin-bottom: 60px;
  margin-top: 30px;
}

.features h3 {
  font-size: 18px;;
}

.features h3::before {
  content: url("../img/bullet-point.png");
  margin-left: -20px;
  margin-right: 9px;
}

footer {
  background: #5E5E5E;
  color: #D7D7D7;
  padding-top: 30px;
  padding-bottom: 30px;
}

span.accent {
  color: rgb(243, 145, 0);
}

.wizard {
  /*font-size: 18px;*/
}

.wizard .step {
  margin-bottom: 20px;
}

.wizard .step h3 {
  margin-bottom: 20px;
}

.button-row button {
  float: right;
  margin-left: 10px;
}

.trader-thumb-slider img {
    /*margin: 10px auto;*/
    transition: 300ms ease 0s;
    width: 100px;
}

.noUi-connect {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,37b700+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, rgb(243, 145, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,rgb(243, 145, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%,rgb(243, 145, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%,rgb(243, 145, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%,rgb(243, 145, 0) 100%); /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%,rgb(243, 145, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='rgb(243, 145, 0)',GradientType=1 ); /* IE6-9 */
}

.trader-thumb-slider .slick-slide {
    transition: 300ms ease 0s;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 1em;
}

.trader-thumb-slider .slick-center {
    background-color: rgb(254, 247, 190);
}

.trader-thumb-slider .slick-center img {
    /*transform: scale(1.08);*/
}

.trader-avatar {
  margin-right: 1em;
}

.highlight-label {
  color: white;
  background-color: rgb(243, 145, 0);
  padding: 5px 10px;
  font-weight: bold;
  display: inline-block;
}

.panel-overview .info-pane {
  background: #f6f6f6;
  padding: 0.5em;
  margin-bottom: 1em;
}

.panel-overview .info-pane > * {
  display: inline-block;
}

.panel-overview .info-pane > img {
  vertical-align: top;
  margin-right: 0.5em;
}

.panel-overview .info-pane .second-line > div {
  display: inline-block;
  margin-right: 3em;
}

.panel-overview .info-pane > img {
  height: 5em;
}

span.glyphicon {
    color: black;
}

table.table thead {
  background-color: #f6f6f6;
}

table.table th {
  padding: 1em;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background: none;
}

.table-striped>tbody>tr:nth-child(even) {
  background-color: #f6f6f6;
}

.panel-tabbed {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: 0px;
}

ul.nav-tabs > li.active > a {
  color: rgb(243, 145, 0);
  /*border-top: 3px solid rgb(243, 145, 0);*/
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

ul.nav-tabs > li.active {
  position: relative;
}

ul.nav-tabs > li.active::before {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgb(243, 145, 0);
  width: 100%;
  height: 3px;
  content: " ";
  z-index: 1;
}

ul.nav-tabs > li > a {
  color: #666;
  background-color: #f6f6f6;
  border: 1px solid #DDD;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-right: 0px;
}

ul.nav-tabs > li {
  margin-right: 1em;
}

.slider-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #DDD;
  border-radius: 3px;
  top: -2.5em;
  padding: 5px;
  left: -9px;
  text-align: center;
  /*width: 50px;*/
}

.slider-tooltip strong {
  display: block;
  padding: 2px;
}


.panel-vndirect {
  border-color: rgb(243, 145, 0);
}

.panel-vndirect .panel-heading {
  background-color: rgb(243, 145, 0);
}

.panel-vndirect .panel-title {
  color: white;
}
